[flake8]
select = E, W, F, C
ignore = W503,E203
max_complexity = 15
max_line_length = 99
exclude = venv,env,.venv,.env
format = %(path)s:%(row)d:%(col)d: %(code)s %(text)s (https://lintlyci.github.io/Flake8Rules/rules/%(code)s.html)
